<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weekly.mapper.UserMapper">
    
    <resultMap id="UserResult" type="com.weekly.common.pojo.po.User">
        <id property="id" column="id"/>
        <result property="uuid" column="uuid"/>
        <result property="openId" column="openid"/>
        <result property="unionId" column="unionid"/>
        <result property="accessKey" column="accesskey"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="wechatNickname" column="wechatNickname"/>
        <result property="avatarUrl" column="avatarUrl"/>
    </resultMap>

    <select id="getByOpenId" resultMap="UserResult">
        select * from user where openid=#{openId}
    </select>
    
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">uuid,</if>
            <if test="openId != null and openId != ''">openid,</if>
            <if test="unionId != null and unionId != ''">uuid,</if>
<!--            <if test="accessKey != null and accessKey != ''">accesskey,</if>-->
            <if test="username != null and username != ''">username,</if>
<!--            <if test="password != null and password != ''">password,</if>-->
<!--            <if test="wechatNickname != null and wechatNickname != ''">wechatNickname,</if>-->
<!--            <if test="avatarUrl != null and avatarUrl != ''">avatarUrl,</if>-->
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null and uuid != ''">#{uuid},</if>
            <if test="openId != null and openId != ''">#{openId},</if>
            <if test="unionId != null and unionId != ''">#{unionId},</if>
<!--            <if test="accessKey != null and accessKey != ''">#{accessKey},</if>-->
            <if test="username != null and username != ''">#{username},</if>
<!--            <if test="password != null and password != ''">#{password},</if>-->
<!--            <if test="wechatNickname != null and wechatNickname != ''">#{wechatNickname},</if>-->
<!--            <if test="avatarUrl != null and avatarUrl != ''">#{avatarUrl},</if>-->
        </trim>
    </insert>
</mapper>