<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weekly.task.mapper.TaskMapper">

    <resultMap id="TaskResult" type="com.weekly.task.pojo.vo.TaskListVo">
        <id property="taskId" column="task_id"/>
        <result property="userId" column="user_id"/>
        <result property="nickname" column="nick_name"/>
        <result property="taskName" column="task_name"/>
        <result property="expResult" column="exp_result"/>
        <result property="taskComment" column="task_comment"/>
        <result property="taskStatus" column="task_status"/>
        <result property="taskLevel" column="task_level"/>
        <result property="taskDate" column="task_date"/>
        <result property="dayOfWeek" column="dayofweek"/>
        <result property="taskWeek" column="task_week"/>
        <result property="schoolYear" column="school_year"/>
        <!--        <result property="isdeleted" column="is_deleted"/>-->
    </resultMap>

    <select id="showUserTask" resultMap="TaskResult">
        select * from task where task_week=#{taskWeek} and user_id=#{userId} and school_year=#{schoolYear} and is_deleted=0
    </select>

    <select id="showTaskById" resultMap="TaskResult">
        select s.nick_name,t.* from task t left join sys_user s
        on t.user_id = s.user_id
        where task_id = #{taskId}
    </select>

    <insert id="AddTask" >
        insert into task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null  ">user_id,</if>
            <if test="taskName != null  and taskName != ''">task_name,</if>
            <if test="expResult != null  and expResult != ''">exp_result,</if>
            <if test="taskComment != null  and taskComment != ''">task_comment,</if>
            <if test="taskStatus != null  ">task_status,</if>
            <if test="taskLevel != null  ">task_level,</if>
            <if test="taskDate != null  and taskDate != ''">task_date,</if>
            <if test="dayOfWeek != null  and dayOfWeek != ''">dayofweek,</if>
            <if test="taskWeek != null  ">task_week,</if>
            <if test="schoolYear != null  and schoolYear != ''">school_year,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null  ">#{userId},</if>
            <if test="taskName != null  and taskName != ''">#{taskName},</if>
            <if test="expResult != null  and expResult != ''">#{expResult},</if>
            <if test="taskComment != null  and taskComment != ''">#{taskComment},</if>
            <if test="taskStatus != null  ">#{taskStatus},</if>
            <if test="taskLevel != null  ">#{taskLevel},</if>
            <if test="taskDate != null  and taskDate != ''">#{taskDate},</if>
            <if test="dayOfWeek != null  and dayOfWeek != ''">#{dayOfWeek},</if>
            <if test="taskWeek != null  ">#{taskWeek},</if>
            <if test="schoolYear != null  and schoolYear != ''">#{schoolYear},</if>
        </trim>
    </insert>

    <update id="deleteTask" parameterType="Long">
        update task set is_deleted = 1 where task_id = #{taskId}
    </update>

    <update id="updateTask">
        update task
        <trim prefix="SET" suffixOverrides=",">
<!--            <if test="userId != null ">user_id = #{userId},</if>-->
            <if test="taskName != null and taskName != ''">task_name = #{taskName},</if>
            <if test="expResult != null and expResult != ''">exp_result = #{expResult},</if>
            <if test="taskComment != null and taskComment != ''">task_comment = #{taskComment},</if>
            <if test="taskStatus != null ">task_status = #{taskStatus},</if>
            <if test="taskLevel != null ">task_level = #{taskLevel},</if>
            <if test="taskDate != null and taskDate != ''">task_date = #{taskDate},</if>
            <if test="dayOfWeek != null and dayOfWeek != ''">dayofweek = #{dayOfWeek},</if>
            <!--            <if test="taskWeek != null and taskWeek != ''">task_week = #{taskWeek},</if>-->
        </trim>
        where task_id = #{taskId}
    </update>

    <select id="finishTaskCount" resultType="Long">
        select count(task_id) from task
        where task_status=1 and is_deleted = 0 and task_week = #{taskWeek} and user_id= #{userId} and school_year = #{schoolYear}
    </select>

    <select id="allTaskCount" resultType="Long">
        select count(*) from task where is_deleted = 0 and task_week = #{taskWeek} and user_id= #{userId} and school_year = #{schoolYear}
    </select>

    <resultMap id="TaskLevelList" type="com.weekly.task.pojo.vo.TaskLevelListVo">
        <id property="taskId" column="task_id"/>
        <result property="taskLevel" column="task_level"/>
    </resultMap>

    <select id="getFinishTaskLevelList" resultMap="TaskLevelList">
        select task_id,task_level from task
        where task_status=1 and is_deleted = 0 and task_week = #{taskWeek} and user_id= #{userId} and school_year = #{schoolYear}
    </select>

    <resultMap id="TaskSortByDay" type="com.weekly.task.pojo.vo.TaskSortByDayVo">
        <id property="taskId" column="task_id"/>
        <result property="taskName" column="task_name"/>
        <result property="day" column="day"/>
    </resultMap>

    <select id="viewTaskByMonth" resultMap="TaskSortByDay">
        SELECT task_id,task_name,SUBSTR(task_date,9,2) as day from task
        where task_date like CONCAT(#{month},'%') and user_id = #{userId}
    </select>

    <resultMap type="com.weekly.task.pojo.po.Task" id="ExportTaskResult">
        <result property="taskId"    column="task_id"    />
        <result property="userId"    column="user_id"    />
        <result property="taskName"    column="task_name"    />
        <result property="expResult"    column="exp_result"    />
        <result property="taskComment"    column="task_comment"    />
        <result property="taskStatus"    column="task_status"    />
        <result property="taskLevel"    column="task_level"    />
        <result property="taskDate"    column="task_date"    />
        <result property="dayofweek"    column="dayofweek"    />
        <result property="taskWeek"    column="task_week"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="schoolYear"    column="school_year"    />
    </resultMap>

    <sql id="selectTaskVo">
        select task_id, user_id, task_name, exp_result, task_comment, task_status, task_level, task_date, dayofweek, task_week, is_deleted, school_year from task
    </sql>

    <select id="selectTaskList"  resultMap="ExportTaskResult">
        <include refid="selectTaskVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="taskWeek != null  and taskWeek != ''"> and task_week = #{taskWeek}</if>
            <if test="schoolYear != null  and schoolYear != ''"> and school_year = #{schoolYear}</if>
        </where>
    </select>

    <insert id="releaseTask">
        insert into task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null  ">user_id,</if>
            <if test="taskName != null  and taskName != ''">task_name,</if>
            <if test="expResult != null  and expResult != ''">exp_result,</if>
            <if test="taskComment != null  and taskComment != ''">task_comment,</if>
            <if test="taskStatus != null ">task_status,</if>
            <if test="taskLevel != null ">task_level,</if>
            <if test="taskDate != null  and taskDate != ''">task_date,</if>
            <if test="dayOfWeek != null  and dayOfWeek != ''">dayofweek,</if>
            <if test="taskWeek != null  ">task_week,</if>
            <if test="schoolYear != null  and schoolYear != ''">school_year,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null  ">#{userId},</if>
            <if test="taskName != null  and taskName != ''">#{taskName},</if>
            <if test="expResult != null  and expResult != ''">#{expResult},</if>
            <if test="taskComment != null  and taskComment != ''">#{taskComment},</if>
            <if test="taskStatus != null  ">#{taskStatus},</if>
            <if test="taskLevel != null  ">#{taskLevel},</if>
            <if test="taskDate != null  and taskDate != ''">#{taskDate},</if>
            <if test="dayOfWeek != null  and dayOfWeek != ''">#{dayOfWeek},</if>
            <if test="taskWeek != null  ">#{taskWeek},</if>
            <if test="schoolYear != null  and schoolYear != ''">#{schoolYear},</if>
        </trim>
    </insert>
</mapper>